Source: vdr-plugin-xmltv2xmltv-grabber-xmltvse2xmltv
Section: video
Priority: extra
Maintainer: nochk <nochks@yahoo.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/nochk/xmltvse2xmltv

Package: vdr-plugin-xmltv2xmltv-grabber-xmltvse2xmltv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sed, grep, coreutils, curl, gzip
Description: xmltvse2xmltv Grabber
 xmltvse2xmltv Grabber for vdr-plugin-xmltv2xmltv
